* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background: #f5f7fa;
  padding: 20px;
  font-family: Montserrat;
}

.wrapper {
  background: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #0e153ffa;
  width: 370px;
  height: 1500px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
}

.about-me-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 50px;
  padding-bottom: 110px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ff6b08;
}

.contacts-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.contacts-link-type {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}

.networks-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ff6b08;
}

.social-networks {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.networks-link {
  font-size: 14px;
  color: #ffffff;
}

.profession {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 23px;
}

.name {
  font-size: 40px;
  line-height: 65px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.info-container {
  margin-bottom: 65px;
}

.about-me-title {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 5px;
  margin-bottom: 25px;
  color: #161c38;
}

.tech-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #595959;
}

.proffession-title {
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 2px;
}

.profession-company {
  color: #ff6b08;
}

.proffecion-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #777676;
}

.profession-devider {
  color: #000000;
}

.profession-duties {
  margin-top: 5px;
  margin-bottom: 30px;
}

.profession-duties-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #414141;
}

.university-name {
  color: #ff6b08;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.specials-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.about-me-title2 {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 60px;
  margin-bottom: 1px;
  color: #161c38;
}

.about-me-title3 {
  font-family: Montserrat;
  font-size: 25px;
  line-height: 100px;
  margin-bottom: 1px;
  color: #161c38;
}

.profession-duties2 {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-top: -30px;
}
